<div class="brnadlist">
 <div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ section.settings.section-title }}</h1>
    </div>
  </header>
<div class="brnads">   
 {% for block in section.blocks %}
  <div class="Grid__Cell 1/1--phone 1/2--tablet 1/3--lap-and-up">
    <div class="ProductItem " style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
    <div class="brandimage">
      <a class="cta__link" href="{{ block.settings.link }}">  <img class="cta__image" src="{{ block.settings.image | img_url: '2048x' }}" alt="Tackma">
      </a></div>
    <div class="brandname">
    
      <header class="SectionHeader">
        <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">
<a class="cta__link" href="{{ block.settings.link }}">{{ block.settings.title }}</a></h2>

        <div class="SectionHeader__ButtonWrapper">
          
          <a class="cta__link" href="{{ block.settings.link }}"><span class="CollectionItem__Link Button">SHOP NOW</span></a></div>
      </header>
      
      </div>
  </div>
</div>
  {% endfor %}
   </div>
</div>
</div>


  

{% schema %}
{
    "name": "Brand List",
    "class": "cta",
  	"max_blocks":32,
    "settings": [
    {
      "id": "section-title",
      "label": "Section Title",
      "type": "text",
      "default": "Brands"
    }
    
  ],
    "blocks": [
        {
            "type": "cta",
            "name": "Brand",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title"
                },
                {
                    "id": "link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [{
        "name": "Brand List",
        "category": "Custom"
    }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}